[package]
name = "openvm-keccak256"
description = "OpenVM library for keccak256"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
openvm-keccak256-guest = { workspace = true }
tiny-keccak = { workspace = true, optional = true }

[target.'cfg(target_os = "zkvm")'.dependencies]
spin = { workspace = true, features = ["mutex", "spin_mutex"] }

[dev-dependencies]
hex = { workspace = true }
openvm-instructions = { workspace = true }
openvm-sdk = { workspace = true }
openvm-stark-sdk = { workspace = true }
openvm-circuit = { workspace = true, features = ["test-utils", "parallel"] }
openvm-transpiler = { workspace = true }
openvm-keccak256-transpiler = { workspace = true }
openvm-keccak256-circuit = { workspace = true }
openvm-rv32im-transpiler = { workspace = true }
openvm-toolchain-tests = { workspace = true }
eyre = { workspace = true }

[features]
default = ["tiny_keccak"]
aot = ["openvm-sdk/aot"]
# Internal feature for testing only.
cuda = ["openvm-keccak256-circuit/cuda"]
# Enable tiny_keccak::Hasher trait implementation
tiny_keccak = ["dep:tiny-keccak"]
# Enables rust integration tests that take a long time.
long_proving_tests = []
