[package]
name = "openvm-new-keccak256"
description = "OpenVM library for keccak256"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
openvm-new-keccak256-guest = { workspace = true }

[target.'cfg(not(target_os = "zkvm"))'.dependencies]
tiny-keccak = { workspace = true }
