[package]
name = "openvm-sha2"
description = "OpenVM library for sha2"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
openvm = { workspace = true }
openvm-sha2-guest = { workspace = true }
sha2 = { workspace = true, default-features = false, optional = true }

[dev-dependencies]
hex = { workspace = true }
openvm-instructions = { workspace = true }
openvm-sdk = { workspace = true }
openvm-stark-sdk = { workspace = true }
openvm-circuit = { workspace = true, features = ["test-utils", "parallel"] }
openvm-transpiler = { workspace = true }
openvm-sha2-transpiler = { workspace = true }
openvm-sha2-circuit = { workspace = true }
openvm-rv32im-transpiler = { workspace = true }
openvm-toolchain-tests = { workspace = true }
eyre = { workspace = true }

[features]
default = ["import_sha2"]
# Enable sha2::Digest trait implementation
import_sha2 = ["dep:sha2"]
aot = ["openvm-sdk/aot"]
# Internal feature for testing only.
cuda = ["openvm-sha2-circuit/cuda"]
