[package]
name = "new-keccak-example"
version = "0.0.0"
edition = "2021"

[workspace]
members = []

[dependencies]
tiny-keccak = { git = "https://github.com/openvm-org/tiny-keccak", branch = "perf/custom-xorin-keccak", features = ["keccak"] }
hex-literal = "1.1.0"

[target.'cfg(target_os = "zkvm")'.dependencies]
openvm = { git = "https://github.com/openvm-org/openvm.git", features = [
    "std",
] }

[features]
default = []

# remove this if copying example outside of monorepo
[patch."https://github.com/openvm-org/openvm.git"]
openvm = { path = "../../crates/toolchain/openvm" }
openvm-new-keccak256-guest = { path = "../../extensions/new-keccak256/guest" }
