[package]
name = "openvm-keccak256-guest"
description = "OpenVM guest library for keccak256"
version.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
openvm-platform = { workspace = true }

[target.'cfg(target_os = "zkvm")'.dependencies]
spin = { workspace = true, features = ["mutex", "spin_mutex"] }

[features]
default = []
