[package]
name = "stark-recursion-circuit-derive"
description = "Procedural macros for writing circuits as AIRs."
version.workspace = true
authors.workspace = true
edition.workspace = true

[lib]
proc-macro = true

[dependencies]
quote = "1.0"
syn = { version = "2.0", features = ["parsing"] }
